html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type='button'],[type='reset'],[type='submit']{-webkit-appearance:button}button::-moz-focus-inner,[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,[type='submit']::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type='button']:-moz-focusring,[type='reset']:-moz-focusring,[type='submit']:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type='checkbox'],[type='radio']{box-sizing:border-box;padding:0}[type='number']::-webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button{height:auto}[type='search']{-webkit-appearance:textfield;outline-offset:-2px}[type='search']::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
/* normalize.css */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
  url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"),
  url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Regular.woff2") format("woff2"),
  url("../fonts/Recoleta-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --feed: #FE9013;
  --orange: #f9804b;
  --hover: #E47209;
  --white: #fff;
  --black: #000;
  --yellow: #ffee2e;
  --black_blue: #333b41;
  --green: #4b9200;
  --frosted_glass_white: #fdfdff;
  --gray_light: #f1f3f2;
  --gray: #767474;
  --gray_smoky: #ababab;
  --rad: #d31414;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

img {
  vertical-align: top;
  height: auto;
}

input {
  border: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

h1,h2,h3 {
  margin: 0;
}

.section {
  padding-top: 140px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  max-width: 298px;
  width: 100%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--white);
  transition: all .3s ease;
  cursor: pointer;
}

.header {
  background: var(--black);
  backdrop-filter: blur(2px);
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}


.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  width: 82px;
  height: 52px;
}

.logo__link {
  padding: 3px;
  border: 1px solid var(--white);
  text-align: center;
  display: inline-block;
  font-size: 19px;
  line-height: 120%;
  position: relative;
  z-index: 1;
}

.logo__link:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 8px;
  left: 9px;
  background-image: url('.././icons//bamboo.svg');
  background-repeat: no-repeat;
  width: 12px;
  height: 21px;
}

.header--nav {
  margin-left: 15px;
}

.nav {
  max-width: 535px;
  width: 100%;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  transition: all .3s ease;
  padding: 10px;
}


.link--active {
  color: var(--hover);
}

.copy {
  margin-left: auto;
  transition: all .3s ease;
}

@media(hover:hover) {

  .nav__link:hover {
    color: var(--hover);
  }

  .copy:hover {
    color: var(--hover);
  }

  .btn:hover {
    background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
  }

}

.nav__link:active {
  color: var(--green);
}

.link--active:active {
  color: var(--hover);
}

.copy:active {
  color: var(--green);
}

.btn:active {
  transform: translate(2px, 2px) scale(.98);
  background: linear-gradient(113.96deg, #4b9200 1.49%, #4b9200 101.44%);
}


.footer {
  background: #111115;
  padding-top: 40px;
  padding-bottom: 50px;
  color: #fff;
}

.footer__inner {
  display: grid;
  grid-template-columns: 300px 490px 390px;
  grid-template-rows: 120px 80px 153px;
  grid-template-areas:
    'footer1 footer2 footer2'
    'footer3 footer3 footer3'
    'footer4 footer5 footer6';
}

.footer1 {
  grid-area: footer1;
}
.footer2 {
  grid-area: footer2;
  margin-left: auto;
}
.footer3 {
  grid-area: footer3;
}
.footer4 {
  grid-area: footer4;
}
.footer5 {
  grid-area: footer5;
}
.footer6 {
  grid-area: footer6;
}

.footer .logo {
  color: #fff;
}

.footer__news {
  max-width: 380px;
  width: 100%;
}

.footer__news-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-left: -10px;
}

.footer__news-form {
  max-width: 380px;
  width: 100%;
  position: relative;
  left: -10px;
}

.footer__news-input {
  border-radius: 2px;
  border: 2px solid transparent;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  box-shadow: inset 0px 0px 0px 100vw #fff;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 228px;
  width: 100%;
}

.footer__news-input::placeholder {
  color: #BDBDBD;
}

.footer__news-btn {
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 39px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
  transition: all .3s ease;
}



.footer__btn {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  align-self: start;
}

.footer__social {
  margin: 0;
  padding: 0;

  margin-top: 10px;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.footer__link span {
  margin-right: 12px;
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer5 {
  margin-bottom: 0;
  margin-top: auto;
  max-width: 425px;
  margin-left: 50px;
}

.footer5 ul {
  margin-bottom: 0;
}

.footer__designed {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  margin-left: auto;

  margin-top: auto;
  position: relative;
  left: -20px;
}

.footer__designed span {
  display: block;
  margin-top: 10px;
}

@media(hover:hover) {

  .footer__news-btn:hover {
    color: #4B9200;
    background: var(--black_blue);
  }

  .footer__link:hover {
    opacity: .8;
  }

  .footer__designed-link:hover {
    color: var(--hover);
  }

  .footer__designed-link:active {
    color: var(--green);
  }

  .footer__link:hover svg path{
    fill: #000;
  }
}